body {
      padding: 40px 0px;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
      text-align: center;
}

.btn_resources {
      display: flex;
      justify-content: center;
      gap: 25px;
      padding: 10px 0px;
}

button {
      background-color: #13aa52;
      border: 1px solid #13aa52;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 30px;
      text-align: center;
}

button:hover {
      transform: scale(107%);
      transition: 0.3s ease;
}